@import '~Var';
@import '~Base';

.app-status-indicator {
  height: 500px;
  width: 800px;
  @include font(18px, 400);

  &__content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72%;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    flex: 1;
    flex-grow: 0;
    margin-bottom: 5px;
  }

  &__description {
    flex: 1;
    flex-grow: 0;
    color: $grey-color;
  }

  &__line {
    height: 1px;
    width: 100%;
    background: #c1c1c1;
  }

  &__last-letter {
    @extend .last-letter;
  }

  &__page-title {
    @extend .page-title;
  }
}
