@import '~Var';
.footer {
  display: flex;
  max-width: 450px;
  align-items: center;
  height: 50px;
  margin-top: 130px;

  & > * {
    flex: 1;
  }
  &__link {
    @include font(14px, 400, $color: $text-secondary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &--logo {
      height: 20px;
      width: 90px;
      flex-basis: 90px;
      fill: $relap-color;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 50px;
    }
  }
}
