@import '~Var';

.summary-table {
  &-wrapper {
    &:empty {
      border: 1px solid $border-color;
      min-height: 360px;
    }
  }

  &__row {
    padding-top: 41.3px;
  }

  &__cell {
    flex: 1;
    min-width: 147px;
    max-width: 147px;
    min-height: 80px;
    padding: 9px 0 0 11px;
    border: 1px solid $border-color;

    &__label {
      @include font(16px, 300);
      display: block;
    	line-height: 27px;
    }

    &__stat-number {
      @include font(25px, 400);
      display: block;
    }

    &:nth-child(odd) {
      border-right: none;
    }

    &:nth-child(-n+8) {
      border-bottom: none;
    }
  }
}
