@import '~Var';

.custom-label {
  @include font(14px, 500);
}

.recharts {
  &-wrapper {
    margin-top: 10px;
  }

  &-label-list {
    transform: translateX(2.5%);
  }

  &-cartesian-axis-line {
    transform: translateY(0.5px);
  }
}

.custom-tick {
  @include font(12px, 400);
  fill: #979797
}

.custom-tooltip {
  @include font(14px, 500);
  margin-left: -14px;
}

.mainChart {
  &__indicator {
    @include font(18px, 400);
    height: 72%;

    &__content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
      text-align: center;
    }

    &__title {
      flex: 1;
      flex-grow: 0;
      margin-bottom: 5px;
    }

    &__description {
      flex: 1;
      flex-grow: 0;
      color: $grey-color;
    }

    &__line {
      height: 2px;
      margin-bottom: 24px;
      width: 100%;
      background: rgb(227, 227, 227);
    }
  }
}
