@import '~Var';

.tabs {
  user-select: none;
  cursor: default;
  @include font(16px, 400, $color: #818a91);
  display: inline-block;

  &__preword {
    display: inline-block;
    margin-right: 10px;
    cursor: default;
  }
}

.dropdown-title {
  &.ui.selection.dropdown {
    font-size: 30px;
    font-weight: 400;
    border: 1px solid transparent;
    border-bottom: 1px dotted $grey;
    border-radius: 0;
    min-height: 38px;
    min-width: auto;
    margin-left: 12px;
    padding: 0px 27px 0px 0px;

    &:hover {
      border: 1px solid transparent;
      border-bottom: 1px dotted $primary;
      color: rgba(0,0,0,0.6);
    };

    & > .dropdown.icon {
      padding: 0;
    }
  }

  &.ui.dropdown>.dropdown.icon:before {
    // content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMC43MDgwMSA1LjcwNyI+PHBhdGggZD0iTTEwLjcwOC43MDdsLTUsNS0uMzU0LS4zNTRMNSw1LjcwN2wtNS01TC43MDgsMCw1LjM1NCw0LjY0NiwxMCwwWiIgc3R5bGU9ImZpbGw6I2EyYTJhMiIvPjwvc3ZnPg==") !important;
    height: auto;
    width: 12px;
  }

  &.ui.dropdown .menu>.item:hover {
    background: $gray-light !important;
  }

  &.ui.selection.active.dropdown {
    box-shadow: none;
    border: 1px solid transparent;

    & .menu {
      border: 1px solid $gray-light !important;
      box-shadow: none;
      border-radius: 0;
      min-width: 250px;
    }

    &:hover {
      box-shadow: none;
      border: 1px solid transparent;

      & .menu {
        border: inherit;
        box-shadow: none;
        border-radius: 0;
      }
    }
  }

  &.ui.dropdown .menu .selected.item,
  &.ui.dropdown.selected {
    background: $gray-light !important;
    font-weight: 400 !important;
  }

  &.ui.dropdown .menu .active.item {
    font-weight: 400 !important;
  }

  &.ui.dropdown .menu>.item:first-child {
    border-top-color: transparent !important;
  }
}
