@import '~Var';

.tabs {
  user-select: none;
  cursor: default;
  @include font(16px, 300, $color: black);
  display: inline-block;

  &__preword {
    display: inline-block;
    margin-right: 10px;
    cursor: default;
  }
}
