@import '~Var';

.graph-wrapper {
	width: 826px;
}

.custom-label {
  @include font(14px, 300);
}

.recharts {
  &-wrapper {
    margin-top: 10px;
  }

  &-label-list {
    transform: translateX(2.5%);
  }

  &-cartesian-axis-line {
    transform: translateY(0.5px);
  }
}

.custom-tick {
  @include font(12px, 300);
  fill: #979797
}

.custom-tooltip {
  margin-left: -14px;

  &__label {

    @include font(14px, 300);
  }
}
