@import '_reset.scss';
@import 'var.scss';

body, html {
  background: white;
}

.App {
  max-width: 100%;
  margin: 0 (($m1*3)/$canvas*100)+%;
}

.wrapper {
  width: 1024px;
  margin: 50px auto;
}

.flex-parent {
  display: flex;

  &:first-child {
    flex: 1;
  }
  &:last-child {
    flex: 1;
  }
}

.sidebar {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 170px;
}

.content {
  width: 827px;
  flex: 1;
  flex-grow: 0;
  margin-left: 30px;
}

.page-title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 21px;
}

.stat-selector-wrapper {
  display: flex;
  justify-content: space-between;
}

.last-letter {
  vertical-align: super;
  @include font(20px, 400, $color: rgba(0,0,0, 0.17));
}
