$classPrefix: 'toster-demo';

/* Colors */
$primary: #26C4CE;
$grey: #899299;

$primary-color: #0049ff;
$grey-color: #899299;
$gray-light: #f9fafb;

$green-bar: #0cbc3d;
$cyan-bar: #00b5ae;
$blue-bar: #2289d5;
$dark-purple-bar: #642ccc;
$purple-bar: #a429cb;

/* Bar related bg color */
$green-bar-bg: rgba(35, 194, 80, 0.05);
$cyan-bar-bg: rgba(25, 188, 181, 0.05);
$blue-bar-bg: rgba(56, 147, 217, 0.05);
$darkpurple-bar-bg: rgba(115, 65, 209, 0.05);
$purple-bar-bg: rgba(172, 62, 208, 0.05);

$border-color: #e3e3e3;
$border-radius: 3px;

$relap-color: #51bcc6;
$text-secondary: #818a91;

/* Display ranges*/
$mobile: 500px;
$tablet: 768px;
$decktop: 1024px;
$decktop-large: 1200px;

$canvas: 1440;

/* margins */
$m1: 60;
$m05: 22.5px;
$m025: 11.25px;

@mixin font( $size: 16px, $width: 400, $color: black, $lineh: 1, $ms: 16px, $mlineh: false ) {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: $width;

  color: $color;

  @media (max-width: $mobile) {
    font-size: $ms;

    @if $mlineh {
      line-height: $mlineh;
    } @else {
      line-height: $lineh;
    }
  }
}
