<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=0' />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <style>
      #app:empty + #loading-indicator {
        background: white;
        width: 100%;
        height: 100vh;
        display: flex;
      }

      #app + #loading-indicator {
        display: none;
      }

      #loading-indicator {
        align-items: center;
        text-align: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
      }

      .loading-indicator__title {
        flex: 1;
      }
    </style>
  </head>

  <body>
    <%= require('html-loader!./parts.html') %>
  </body>
</html>
