@import '~Var';

.tabs {
  &__wrapper {
    display: inline-block;
  }

  &__tab {
    display: inline-block;
    margin: 0;
    padding: 9px 15px;
    border-radius: 0;
    outline: none;
    user-select: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }

    &--active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

ul li .tabs__tab:first-child {
  border-radius: 4px 0 0 4px;
}

ul li.tabs__tab:first-child {
  border-radius: 4px 0 0 4px;
}
